body{
    display:flex;
    flex-direction: column;
}

main{
    height: 90vh;
    padding-top: 15%;
}

.navitem{
    padding-left: 15px;
}
.flex-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
   
.flex-main{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.logo , .input, .buttons{
    padding-top: 10px;
}

.flex-footer{
    display: flex;
    flex-direction: row;
}

.footer1{
    flex:1;
}

input{
    width:550px;
    height: 30px;
    border-radius:13px;
   
}

button{
    width:120px ;
    padding: 5px;
}
